.article_img{
    width: 100%;
    height: auto;
}
.article_info{
    background: #FFF1F9;
    margin-bottom: 15px;
    font-style: normal;
    color: black;
    text-decoration-line: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 3px #FF5102;
    padding: 5px;  
}

.article_link{
    text-decoration-line: none;
}

.article_info h3{
    font-size: 20px;    
    text-align: center;
}

.article_info h4{
    font-weight: 700;
}

.article_info h5{
    font-weight: 500;
    margin-bottom: 4px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}
    
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}
    
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .article_info{
        border: solid 7px #FF5102;
    }
    .article_container{
        width: 50%;
        padding: 10px;
    }
}
@media (min-width: 1200px){
    .article_container{
        width: calc(100%/3);
        padding: 10px;
    }
}