.article_img{
    width: 100%;
    height: auto;
}
.article_info{
    background: #FFF1F9;
    margin-bottom: 15px;
    font-style: normal;
    color: black;
    text-decoration-line: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 3px #FF5102;
    
}
.article_link{
    text-decoration-line: none;
}
.article_info h3{
    font-size: 22px;
    
}
.article_info h4{
    font-weight: 700;
}
.article_info h5{
    font-weight: 500;
    margin-bottom: 4px;
}