.header_container{
    background: #FF5102;
    margin: -5px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: calc(100%+10px);
}
.header_container h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 16px;
}
.links_container{
    display: flex;
    justify-content: space-between;
}
.link{
    padding-right: 4px;
    padding-left: 4px;
    color: white;
    text-decoration-line: none;
}
.setting_icon{
    width: 25px;
}
@media(min-width: 672px){
    .header_container h1{
        font: 24px;
    }
    
}
@media(min-width: 992px){
    .header_container h1{
        font: 36px;
    }
    
}
@media(min-width: 1200px){
    .header_container{
        margin-bottom: 0;
    }
    .header_container h1{
        font: 50px;
    }
    
}