.dashboard_container {
    width: 100vw;
    padding: 5px;
    background: #6BCAE9;
    min-height: 100vh
}
.show_sources_btn{
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    font-size: 18px;
    background: #293B49;
    cursor: pointer;
}
.empty_news_panel_holder{
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    background: #293B49;
}
.empty_news_panel_holder_text{
    margin: 3px;
    border-radius: 5px;
    background: white;
}